.container{
    display: flex;
    align-items:stretch;
    flex-direction: column;
    text-align: left;
    border-radius: 3px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    width: 100%;
    padding: 0px 10px;
    color: #000;
    border-radius: 2px;
    object-fit: contain;
    background:linear-gradient(to right, rgb(45, 185, 143) , rgb(0, 174, 255));
}

.icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.description {
    padding: 10px;
    background-color: #f7f7f7;
}