@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

[data-theme = "light"]{
  background: linear-gradient(to right, rgb(45, 185, 143) , rgb(0, 174, 255));
}

[data-theme="dark"] body{
  background: linear-gradient(to bottom, rgb(26, 25, 25) , rgb(31, 31, 31)) !important; 
  color: white !important;
}

[data-theme="dark"] .sideBar , [data-theme="dark"] .main{
  background-color: rgb(43, 42, 42);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sideBar , .main {
  margin: 3rem auto;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
}
.sideBar {
  width: 20%;
}

.main {
  width: 60%;
}

@media  (max-width: 1000px) {
  .sideBar , .main {
    width: 80%;
    margin: 2rem auto;
  }
}
