.projectsContainer{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    overflow-x: hidden;
    position: relative;
    overflow-y: scroll;
    height: 80vh;
}

.projectContainer{
    width: 30%;
    margin: 7px;
    cursor: pointer;
}

/* width */
.projectsContainer::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  .projectsContainer::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .projectsContainer::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgb(45, 185, 143) , rgb(0, 174, 255));
    border-radius: 10px;
  }

@media (max-width: 768px) {
    .projectContainer{
        width: 100%;
    }
}