.projectsContainer{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    overflow-x: hidden;
    position: relative;
    overflow-y: scroll;
    height: 80vh;
}

.projectContainer{
    width: 30%;
    margin: 7px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .projectContainer{
        width: 100%;
    }
}