
.container {
    width: 100%;
    border-radius: 10px;
}

.img {
    width: 100%;
    border: 1px solid red;
    margin-top: 1rem;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    margin: 5px auto;
    width: 80%;
}